<a href="https://colab.research.google.com/github/Sasi-Kiran-280/python-for-learning/blob/main/0280_assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ascending order in list

In [ ]:
list=[(3,4,6,723),(1,2),(134,234,34)]
list.sort()
list

[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

power

In [ ]:
a=int(input())
b=int(input())
c=pow(a,b)
print(c)

2
5
32

repeatition of letters in a string

In [ ]:
a=str(input())
b=a[::-1]
c=int(len(a)/2)
co=0
for i in range(0,c):
  if a[i]==b[i]:
    co=co+1
print(co)

abcdtgjfxmdcba
4

PALINDROME

In [ ]:
a=input()
b=a[::-1]
if a==b:
  print("pal")

mom
pal

NO OF CONSONANTS AND VOWELS IN A STRING

In [ ]:
a=input()
e=0
q=0
c=0
for i in a:
  if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
    e+=1
  elif i=='1' or i=='2' or i=='3' or i=='4' or i=='5' or i=='6' or i=='7' or i=='8' or i=='9' or i=='0':
    q+=1
  else:
    c+=1
print(e,c,q)

hdfugybtcriycwy8o276325764t3yiegthui
7 18 11

To print prime no in given range

In [1]:
def prime(a,b):
  for i in range(a,b):
    k=0
    for j in range(1,i):
      if i%j==0:
        k+=1
    if k==1:
      print(i)
prime(int(input()),int(input()))

1
10
2
3
5
7

**TO PRINT no of days in a month**

In [1]:
mon=int(input())
if mon==1 or mon==3 or mon==5 or mon==7 or mon==8 or mon==10 or mon==12:
  print("31")
elif mon==4 or mon==6 or mon==9 or mon==11 :
  print("30")
elif mon==2:
  print("28")
else:
  print("not found")

10
31

***4.To print even length***

In [2]:
word=str(input())
word=word.split(' ')
for a in word:
  if len(a)%2==0:
    print(a)

HELLO SDFGHJKG HGHG
SDFGHJKG
HGHG

**To convert multiple integers to single integers**

In [3]:
a=[10,13,15,17]
for i in a:
  print(i,end="")

10131517

**take 5 subjects marks from user and display the grade of the student if average is 90-100"o",80-89"a+",.......<40-"f".**

In [6]:
eng=int(input())
phy=int(input())
evpr=int(input())
chem=int(input())
math=int(input())
tot=(eng+phy+evpr+chem+math)/5
print(tot)
if tot > 90:
  print("O")
elif tot > 80 :
  print("A+")
elif tot > 70 :
  print("A")
elif tot > 60 :
  print("B")    
elif tot > 50 :
  print("C")
elif tot > 40 :
  print("D")
elif tot <40 :
  print("fail")

100
100
100
50
1
70.2
A

**wap that prints 1 if all the 3 given numbers are in acending order otherwise print 0.**

In [9]:
a=int(input())
b=int(input())
c=int(input())
if a<b:
  if b<c:
    print("1")
else:
  print("0")

1
2
3
1

**Check give no is perfect or not**

In [12]:
a=int(input())
b=a
sum=0
for i in range(1,a-1):
  if a%i==0:
    sum+=i
print(sum)
if b==sum:
  print("its a perfect no")
else:
  print("noooooooo")

6
6
its a perfect no

**Find Gcd of given no with and without recrusion**

In [13]:
def gcd(a,b):
    if(b==0):
        return a
    else:
        return gcd(b,a%b)
a=int(input("Enter 1st"))
b=int(input("Enter 2nd"))
GCD=gcd(a,b)
print("GCD is: ")
print(GCD)

Enter 1st12
Enter 2nd24
GCD is:
12

**To print odd no in given range**

In [ ]:
a=int(input())
b=int(input())
for i in range(a,b):
  if i%2!=0:
    print(i)

**To print 1st and last capital**

In [15]:
String = input('')
String = result =String.title()
result=" "
for i in String.split():
  result+=i[:-1]+i[-1].upper()+" "
  print(result)

dfgh dfgh dfg
 DfgH
 DfgH DfgH
 DfgH DfgH DfG

**print sum of even digits in a no**

In [16]:
a=str(input())
sum=0
for i in a:
  if int(i)%2==0:
    sum=sum+int(i)
print(sum)

234567
12

**repeat the n no for n times [1,2,2,3,3,3,4,4,4,4]**

In [17]:
n=int(input())
a=0
for x in range(0,n):
  if a<x:
   print(x*x)

2
1

**Calculate the sum of squares of digits of a no**

In [19]:
num = int(input())
sum = 0
while num!=0:
    rem = num%10
    sqr = rem*rem
    sum = sum+sqr
    num = int(num/10)
print(sum)

678909
311

**rgiven two integers A and B .if a<b print all no in ascending or else in descending**

In [20]:
a=int(input())
b=int(input())
if a<b:
  for i in range(a,b):
    print(i)
else:
  for i in range(a,b,-1):
    print(i)

6
7
6

max of 3 no

In [21]:
a=int(input())
b=int(input())
c=int(input())
if (a >= b) and (a >= c):
   largest = a
elif (b >= a) and (b >= c):
   largest = b
else:
   largest = c

print(largest)

55
78
09
78

**write a program to count no of strings where the string length is 2 or more and 1st and last is same**

In [22]:
def match(words):
  d=0
  for x in words:
    if len(word) > 1 and x[0] == x[-1]:
      d+=1
  return d
  print(match(['abc','xyz','aba','1221']))

**days as input,no of round trips ,cal the tot distance if tot dis is <40000m print need to work hard**

In [23]:
days=int(input())
no=int(input("enter no of meters"))
dis=days*no
if dis<40000:
  print("need to work more")
else:
  print("well done")

100
enter no of meters300000
well done

**given a list of students names i l and a charcter and display the names whose name are given in capital.**

In [24]:
test_str =['helo','Hello']
print("The original string is : " + str(test_str))
for ele in test_str:
   if ele.isupper():
     print(ele)

The original string is : ['hello', 'Hello']

**given a list of city names whose len is greater than given len ['Delhi','Mumbai','Goa']**

In [25]:
list=['delhi','Mumbai','Goa']
l=int(input())
for x in list:
  if len(x)>l:
    print(x)

3
delhi
Mumbai